
h1{
    color: #051094;
    font-family: fantasy, sans-serif, serif;
}
.smallFont{
    font-size: 10pt;
}
.mediumFont{
    font-size: 15pt;
}
.largeFont{
    font-size: 20pt;
    font-weight: bold;
}

#gameWindow{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: antiquewhite;
    border: 3px solid black;
    display: none;
}