
h1{
    color: #051094;
    font-family: fantasy, sans-serif, serif;
}
.smallFont{
    font-size: 10pt;
}
.mediumFont{
    font-size: 15pt;
}
.largeFont{
    font-size: 20pt;
    font-weight: bold;
}